mainmenu "MakeDoxygen"

menu "Project"

source script/listprj.kcfg

menu "Print style"
config USE_PRINTL
	bool "use printl"
config UNUSE_PRINTW
	depends on USE_PRINTL
	bool "unuse PRINTW"

config UNUSE_PRINTE
	depends on USE_PRINTL
	bool "unuse PRINTE"

config UNUSE_DBGM
	depends on USE_PRINTL
	bool "unuse DBGM"

config NDEBUG
	depends on USE_PRINTL
	bool "unuse DBG"

config NDEBUG
	bool "unuse assert"
endmenu


config GIT_SHA1
	bool "enable git sha1 node id"
	default n
	help
	  macro __GIT_SHA1__ get ID
config USE_GCH
	bool "Support precompile"
	default y

config PRECOMPILE_AUTOCONFIG_H
	depends on USE_GCH
	bool "add autoconfig.h.gch"
	default y

config PRECOMPILE_AUTOCONFIG_HPP
	depends on USE_GCH
	bool "add autoconfig++.h.gch"
	default n




endmenu


#
# only example
# 
source script/prj_liba/Kconfig
source script/prj_libb/Kconfig
source script/qt-common/Kconfig
#
# End only example
# 





#
# TODO yours
# 

# source script/<your project>/Kconfig